<header
  class="bg-zinc-900 flex flex-col md:flex-row p-20 gap-3
   text-center  md:text-left rounded-xl  "
>
  <div class="flex flex-col flex-1 items-center md:items-start">
    <h1 class="text-5xl font-bold pb-2">Protect your password</h1>
    <p class="my-4 text-2xl overflow-hidden">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem,
      corporis. Corporis sed ipsam iure
    </p>
    <button
      class="mx-auto w-38 md:mx-0 bg-indigo-500 px-3 py-2 hover:bg-indigo-400 hover:-translate-y-1 transition-all duration-300 rounded-sm"
    >
      Start Now
    </button>
  </div>
  <div class="my-3.5 flex flex-1 mx-auto md:mx-0">
    <img src="images/undraw_fingerprint-login_19qv.svg" alt="" class="w-80" />
  </div>
</header>
